<nav id="topbar" class="navbar navbar-expand-md sticky-top">
        <!-- sidebar toggle button -->
        <button id="topbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse">
          <span class="fas fa-align-left"></span>
        </button>
        <!-- topbar items toggle button -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#topbar-items">
          <span class="fas fa-ellipsis-v"></span>
        </button>
        <!-- topbar items -->
        <div class="navbar-collapse collapse" id="topbar-items">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="#">
                <i class="fa fa-envelope"></i>
                <span>Contact</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="#">
                <i class="fas fa-bars-progress"></i>
                <span>Notifications</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link waves-effect waves-light dropdown-toggle" id="dropdown-items" data-toggle="dropdown">
               
                <img class="img-fluid rounded-start" src="/img/company.png" alt="company-img">
                
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-secondary">
                <a class="dropdown-item waves-effect waves-light" href="/company/home">Profile</a>
                <a class="dropdown-item waves-effect waves-light" href="/company/logout">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>